/*       @import url(CouleursDEBUG.css);        */

* {
  box-sizing: border-box;
}
/******************************/
/*       STYLE DE BASE        */
/******************************/
body {font-family: Arial, Helvetica, sans-serif;}

h1 { /*Police texte Ecole */
    text-align: center;
    color: var(--texteGris);
    letter-spacing: 3px;
	padding: 0px;
	line-height: 20px;
	font-size: 20px;
	padding: 10px;
	margin: 20px;
	font-family: "Courier New", Times, serif;
	
}

h2 { 
    color: gray;
    letter-spacing: 3px;
	padding: 0px;
	line-height: 12px;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
	font-family: "Courier New", Times, serif;
	border-bottom: 1px solid gray;

}

h3 { /*Police texte produits */
    letter-spacing: 1px;
	padding: 0px;
	line-height: 14px;
	font-size: 14px;
	font-family: "Courier New", Times, serif;

}

h4 { /*Police texte produits */
    letter-spacing: 1px;
	line-height: 14px;
	font-size: 14px;
	font-family: "Courier New", Times, serif;
	padding-left: 5px;
	text-align: left;
}

p {/*Police détails Fichier commande et commun  */
    text-align: right;
	letter-spacing: 1px;
	line-height: 1;
	font-size: 10px;
}

.mention {/* les mentions  */
    letter-spacing: 1px;
	line-height: 1;
	font-size: 10px;
    text-align: right;	
}

div.recherche {
	padding: 1px;
	text-align: center;
	margin-top: -50px;
}

.zoneTable {
    margin-left: auto;
    margin-right: auto;
	position: relative;
	width: 95%;
	margin-top: -50px;


  /*border: 1px solid var(--boutonRouge);*/
}
img.imgArbo {
    width: 35%;
	margin: 1%;
	
}

img.VoirIMG {
    width: 100px;
}
img {
  vertical-align:middle;
}

.titreFichier {

	text-align: center;
	/*left: 230px;*/

	width: 100%;
    color: var(--texteGris);
	font-family: "Courier New", Times, serif;
    letter-spacing: 3px;	
}

.titreFichier a{
color: var(--boutonVert);
	text-decoration:none; 	
}


.BoutonVoirenCours, .BoutonVoirhistorique {
    text-decoration: none;
	cursor: pointer;
    font-weight: bold;
    color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 30px;
	margin: 70px;
	
    text-align: center;
    letter-spacing: 3px;

	font-size: 14px;
	font-family: "Courier New", Times, serif;	
}
.BoutonVoirenCours {
    background-color: var(--boutonRouge);	
}
.BoutonVoirhistorique {
    background-color: var(--boutonVert);
}
.BoutonVoirenCours:hover, .BoutonVoirhistorique:hover,
.BoutonVoirenCours:focus, .BoutonVoirhistorique:focus {
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24),0 10px 30px 0 rgba(0,0,0,0.19);
}


/* Sources */
#Sources {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;

	letter-spacing: 3px;
	padding: 0px;	
	text-decoration: none;

	color: var(--texteGris);    
	text-align: center;
}

#Sources a{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;

	letter-spacing: 3px;
	padding: 0px;	
	text-decoration: none;

	color: var(--texteGris);    
	text-align: center;
}

#Sources td, #Sources th {
  border: 1px solid var(--FondLigneTabGrisFonce);
  padding: 2px;
  height:60px;

}
#Sources tr:nth-child(even){background-color: var(--FondLigneTabGrisClair);}


#Sources tr:hover {background-color: var(--FondsurvolLigneTab);}

#Sources th {
  text-align: center;
  background-color: var(--FondEnteteTableau);
  color: white;
}

.titreProjet { /*Police texte produits */
	/*padding-left: 30px;*/
	line-height: 1;
	font-size: 14px;
	text-indent: 5px;
}

/* //////////////  New du 12 Juin 2019 /////////////////////  */
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
  cursor: default;
}

.tooltip .tooltiptext {
  top: 110%;
  margin-left: -235px; /* Use half of the width (120/2 = 60), to center the tooltip */
  
  visibility: hidden;
  width: 470px;/* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: var(--FondBDialog); 
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 15px 0;
  position: absolute;
  z-index: 1;

  /*left: 100%;*/

  opacity: 0;
  transition: opacity 0.3s;
  font-size: 10px;
  z-index: 100;
  border: 1px solid var(--FondLigneTabGrisFonce);
}



.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* NOUVELLE Progress bar*/
.boiteProgressBar {
	width: 100%;
	background-color: var(--FondLigneTabGrisFonce);
}

.progressBar {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	white-space : nowrap;
	position: relative;
	background-image: linear-gradient(to right, var(--FondLigneTabGrisFonce) 0%, var(--boutonVert) 30%);
}

.containerCMDPLanche {
  position: relative;
  text-align: left;

}
.txtCMDPLanche {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0%, -50%);
  
}

.mini {
  font-size: 10px;
}

.mini a{
	color : var(--boutonVert);
  font-size: 10px;
}
