
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
	background-color: #3b3b3b;

text-align: center;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
/* The Close Button (x) */
.close {
  all: unset;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
	text-decoration: none;
}

.close:hover,
.close:focus {
    color: var(--boutonRouge);

    cursor: pointer;
} 
.bigButton {
  /* The image used */
	background-color: #3b3b3b;

text-align: center;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
img {
	max-height: 100%;
	width: auto;
}