/*       @import url(CouleursDEBUG.css);        */

* {
  box-sizing: border-box;

}
body{
    box-sizing: border-box;
    background-color: var(--texteGris);
  }
/******************************/
/*       STYLE DE BASE        */
/******************************/
body {font-family: Arial, Helvetica, sans-serif;}

h1 { /*Police texte Ecole */
    text-align: center;
	font-size: 20px;
    text-transform: uppercase;
    color: var(--texteGris);
    letter-spacing: 2px;
	padding-left: 10px;
	vertical-align:middle;

	font-family: "Courier New", Times, serif;
}

h2 { /*Police texte Adresse */
    text-align: center;
	font-size: 14px;

    color: var(--boutonVert);
    letter-spacing: 2px;
	padding-left: 10px;
	line-height: 14px;
	font-family: "Courier New", Times, serif;

}


h3 { /*Police texte produits */
    text-align: left;
    padding-left: 10px;


	line-height: 12px;
	font-size: 14px;
	font-family : "Times New Roman", Times, serif;
	color: var(--boutonVert);
}

h4 { /*Police texte Erreur */
    letter-spacing: 2px;
	padding: 0px;
	line-height: 18px;
	font-size: 18px;
	font-family: "Courier New", Times, serif;
	color: var(--texteGris);
}

p {/*Police Détails Fichier commande et commun  */
    letter-spacing: 1px;
	line-height: 10px;
	font-size: 10px;
}

STRONG {/*Police Détails Fichier commande et commun  */
    letter-spacing: 2px;
	padding: 0px;
	line-height: 12px;
	font-size: 16px;
	font-family: "Courier New", Times, serif;

    font-weight: bold;
    color: var(--boutonVert);
}


/**********************************************/
/*         STYLE DE Upload Fichier Lab        */
/**********************************************/

input {
    background-color: white;
	margin: 8px 0;
    border: none;
    width: 100%;
	text-align: center;
}
/* Set a style for all buttons */
button {
    background-color: var(--boutonVert);
    color: white;
	font-size: 14px;
	font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	width:100%;
	
}

button:hover {
    /* opacity: 0.8; */
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24),0 10px 30px 0 rgba(0,0,0,0.19);
}

.icone { /*Police texte Adresse */
    text-align: center;
	font-size: 22px;

    color: var(--boutonVert);
    letter-spacing: 2px;
	padding-left: 10px;
	line-height: 14px;
	font-family: "Courier New", Times, serif;
    text-decoration: none;
}

.icone:hover {
    color: var(--boutonRouge);
    cursor: pointer;
}



.TableListeProduits{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.TableListeProduits td{
    /**/
    border-top: 1px solid var(--FondLigneTabGrisFonce);  


    text-align: left;
    padding-left: 10px;
    letter-spacing: 2px;

    line-height: 35px;

	font-size: 12px;
	font-family: "Courier New", Times, serif;
	color: var(--texteGris);

}

.TableListeProduits th {
    text-align: center;
    background-color: var(--FondEnteteTableau);
    color: white;

    text-align: left;
	padding-left: 10px;

	font-size: 16px;

    letter-spacing: 2px;
	height: 40px;
	font-family: "Courier New", Times, serif;

 }

/* The Close Button (x) */
.close {
    position: absolute;
    right: 20px;
    top: -15px;
    color: #000;
    font-size: 60px;
    font-weight: bold;
	text-decoration: none;
}

.close:hover,
.close:focus {
    color: var(--boutonRouge);
    cursor: pointer;
}

/* Extra styles for the Select file button */
.Selectbtn {
    background-color: var(--boutonRouge);
}
img {
    vertical-align:middle;
  }


  .imgProduit {
    width: 60px; 
    height: 60px; 
    object-fit: scale-down;     
    /* border: 1px solid var(--texteGris);*/
    
        padding: 1px;
        padding-left: 1px;
  }


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.msgcontainer {
    text-align: center;
    /*margin: 24px 0 12px 0;*/
    margin: 10px 40px 10px 25px;    
    position: relative;
}

.container {
    padding: 50px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.CadreListeProduits {
    margin: 10px;     
    border: 1px solid var(--FondLigneTabGrisFonce); 

    
    height: 70%;
    /* flex-grow : 1;*/
    overflow: auto; /* Enable scroll if needed */
}

/* The Modal (background) */
.modal {

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */


  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */  
    

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	
    border: 1px solid #888;
    width: 80%; /*PASSAGE 0 50% Could be more or less, depending on screen size */
    height: 80%; /*PASSAGE 0 50% Could be more or less, depending on screen size */

     /*overflow: auto; Enable scroll if needed */
     flex-flow: column;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    span.psw {
       display: block;
       float: none;
    }
}

.AjoutProduit2 {
    position:;
    right: 20px;
    top: 15px;


    text-align: center;
    vertical-align:middle;
      
    line-height: 25px;
    padding-top: 1px;
  
    width:30px;
    height:29px;
    border-radius: 20px; 
    font-size: 30px;
  
    border: 3px solid var(--boutonVert);
    color: var(--texteGris);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;  
  }
  
.AjoutProduit2:hover{
      color: var(--boutonRouge);
  
  }

  .AjoutProduit {
    position: absolute;
    right: 100px;
    top: 110px;
    color: var(--boutonVert);
    font-size: 50px;

	text-decoration: none;

    border-radius: 50px; 
    text-align: center;
    width:50px;
    height:50px;
    line-height: 44px;


    border: 5px solid var(--boutonVert);

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;  

}

.AjoutProduit:hover,
.AjoutProduit:focus {
    color: var(--boutonRouge);
    cursor: pointer;
    border: 5px solid var(--boutonRouge);
}
