/*       @import url(CouleursDEBUG.css);        */

* {
  box-sizing: border-box;

}
body{
    box-sizing: border-box;
    background-color: var(--texteGris);
  }
/******************************/
/*       STYLE DE BASE        */
/******************************/
body {font-family: Arial, Helvetica, sans-serif;}

h1 { /*Police texte Ecole */
    text-align: center;
	font-size: 20px;
    text-transform: uppercase;
    color: var(--texteGris);
    letter-spacing: 2px;
	padding-left: 10px;
	vertical-align:middle;

	font-family: "Courier New", Times, serif;
}

h2 { /*Police texte Adresse */
    text-align: left;
	font-size: 16px;

    color: var(--boutonVert);
    letter-spacing: 2px;
	padding-left: 10px;
	line-height: 16px;
	font-family: "Courier New", Times, serif;

}

h3 { /*Police texte produits */
    text-align: left;
    padding-left: 10px;
    letter-spacing: 2px;

	line-height: 12px;
	font-size: 12px;
	font-family: "Courier New", Times, serif;
	color: var(--texteGris);
}

h4 { /*Police texte Erreur */
    letter-spacing: 2px;
	padding: 0px;
	line-height: 18px;
	font-size: 18px;
	font-family: "Courier New", Times, serif;
	color: var(--texteGris);
}

p {/*Police Détails Fichier commande et commun  */
    letter-spacing: 1px;
	line-height: 0;
	font-size: 10px;
}

STRONG {/*Police Détails Fichier commande et commun  */
    letter-spacing: 2px;
	padding: 0px;
	line-height: 12px;
	font-size: 16px;
	font-family: "Courier New", Times, serif;

    font-weight: bold;
    color: var(--boutonVert);
}


/**********************************************/
/*         STYLE DE Upload Fichier Lab        */
/**********************************************/

input {
    background-color: white;
	margin: 8px 0;
    border: none;
    width: 100%;
	text-align: center;
}
/* Set a style for all buttons */
button {
    background-color: var(--boutonVert);
    color: white;
	font-size: 14px;
	font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	width:100%;
	
}

button:hover {
    /* opacity: 0.8; */
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24),0 10px 30px 0 rgba(0,0,0,0.19);
}


#zoneTexteNomCommande {
    width: 300px;
    text-align: left;
    font-size: 18px;
    padding: 11px;
    margin-left: -3px;
    color: var(--boutonVert);
    border: 1px solid #888;
}



.TableDefinitionCodeProduit
{
    width: 100%;
    border-collapse: collapse;
}

.TableDefinitionCodeProduit td
{
    /* border: 1px solid rgb(115, 250, 126);*/
}

.TableListeProduit{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.TableListeProduit td{
    /**/
    border-top: 1px solid var(--FondLigneTabGrisFonce);  
}


/* Set a style for all buttons */
.OK, .KO {
	text-decoration:none; 
    color: white;
	font-size: 14px;
	font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0 ;
    border: none;
    cursor: pointer;
	width:100px;
}

.OK {
    background-color: var(--boutonVert);
}

.KO {
    background-color: var(--boutonRouge);
}
.OK:hover, .KO:hover {
    /* opacity: 0.8; */
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24),0 10px 30px 0 rgba(0,0,0,0.19);
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 20px;
    top: -15px;
    color: #000;
    font-size: 60px;
    font-weight: bold;
	text-decoration: none;
}

.close:hover,
.close:focus {
    color: var(--boutonRouge);
    cursor: pointer;
}

/* Extra styles for the Select file button */
.Selectbtn {
    background-color: var(--boutonRouge);
}
img {
    vertical-align:middle;
  }

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.msgcontainer {
    text-align: center;
    /*margin: 24px 0 12px 0;*/
    margin: 10px 40px 10px 25px;    
    position: relative;
}
.Planchecontainer {
    height: 500px;
    
    /* display: flex;
        flex-wrap: wrap; */
    
    


    overflow: auto;
    margin: 10px 0 0 24px;
    border: 1px solid var(--FondLigneTabGrisFonce);  
  /*   text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
 REvoir dimensin de base du tableau
    vertical-align: top;

    */
}
.container {
    padding: 50px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */  
    

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	
    border: 1px solid #888;
     width: 75%; /*PASSAGE 0 50% Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    span.psw {
       display: block;
       float: none;
    }
}










.DefinitionProduit {
    margin: 10px;     
    border: 1px solid var(--FondLigneTabGrisFonce); 
    border: 1px solid var(--boutonVert);
  }




/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    margin-left: 10px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: var(--boutonRouge);
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 15px; /* 14px;*/
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 8px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: var(--boutonRouge);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

