:root {
  --boutonVert: #6cad52;
  --boutonRouge: #ff0066;
  
  --FondsurvolBouton: yellow; /*Jaune !!! */
  --FondsurvolLigneTab: #b1f981; /*Jaune !!! */
  --FondLigneTabGrisClair: #f2f2f2;
  --FondLigneTabGrisFonce: #ddd;
  --FondLigneTabGrisSombre: #3b3b3b;
  
  --FondEnteteTableau: #919191;
  
  --FondBDialog: #fefefe;
	
  --texteGris: #444;
  
    --btnPageDebut: red;
    --btnPageEntame: Orange;
    --btnPageFini: green;

    --ProgressionVert: green;
  
  
}