/* Page layout styles */
body {font-family: Arial, Helvetica, sans-serif;}

h1 { /*Police texte Ecole */
    text-align: center;
    color: var(--texteGris);
    letter-spacing: 3px;
	padding: 0px;
	line-height: 0;
	font-size: 28px;

	margin: 10px;
	font-family: "Courier New", Times, serif;
	
}
#dropArea {
	background: var(--FondLigneTabGrisClair); 
	border: 3px dashed var(--boutonVert);
	font-size: 16px;
	height: 300px;
	width: 650px; 
	line-height: 50px;
	margin: 10px;
	text-align: center;
	border-radius: 20px;
	color: var(--boutonVert);
}

#dropArea.hover {
	background: var(--FondLigneTabGrisFonce); 
}


#dropArea.leave {
	background: var(--FondLigneTabGrisClair); 
}

#result .success, #result .failure {
	font-size: 12px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
}

#result .success {
	background-color: var(--boutonVert); /*Vert*/
}

#result .failure {
	background-color: #fcc577; /*orange*/
}

.acceuilLiens {
     margin: 0 auto;
     width: 100px; 
}

div.recherche {
	padding: 1px;
	text-align: center;
}

.logo {
  position: absolute;
  left: 8px;
  Top: 0px;
}

p {/*Police D�tails Fichier commande et commun  */
    text-align: right;
	letter-spacing: 1px;
	line-height: 1;
	font-size: 10px;
}

.mention {/* les mentions  */
    letter-spacing: 1px;
	line-height: 1;
	font-size: 10px;
    text-align: right;	
}
