#mySidenav a {
  position: relative;
  display:inline-block;
  top: -80px;
  transition: 0.3s;

  height: 150px;
  width: 150px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 0 0 5px 5px;
  vertical-align: middle;

  padding: 60px 30px 70px 30px;

  text-align: center;
  z-index:5;
}

#mySidenav a:hover {
  top: 0;
}

#selectionPage {
  padding: 160px 30px 70px 30px;
}

#ajoutCommandeGroupee {
  background-image: url('../img/menuBouton0.png');
}

#sourcePhotos {
  background-image: url('../img/menuBouton1.png');
}

#commandesEnCours {
  background-image: url('../img/menuBouton2.png');
}

#commandesExpediees {
  background-image: url('../img/menuBouton3.png');
}

#administration {
  background-image: url('../img/menuBouton4.png');
}